
.box{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 600px;
height: 450px;
 background-color: white;
 border-radius: 20px;
}
img{
width: 300px;
border-radius: 20px 0px 0px 20px;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: bisque;
}
h{
    font-size: 30px;
    flex-wrap: wrap;
}
.txt{
    padding: 40px;
}
h3{
    font-family: sans-serif;
}
.prize{
    display: grid;
    grid-template-columns: 120px 30px;
}
p{
    text-decoration: line-through;
}
.card{
    background-color:#3d8168;
    width: 20px;
}
button{
    background-color: #3d8168;
    width: 200px;
    display: grid;
    place-content: center;
    min-height: 100%;
    grid-template-columns: 10% 50%;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button p2{
    margin-top: 4px;
}

h3,p1,p{
    color: darkgrey;
}
h1{
    color: #3d8168;
}
button:hover{
    background-color: #1a4031;
}
button:hover .card{
    background-color: #1a4031;
}
